In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [3]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [5]:
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [6]:
df.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [8]:
x=df[['Age', 'Experience', 'Income', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']]
y=df['Personal Loan']

In [14]:
pip install statsmodels

Collecting statsmodels
  Downloading https://files.pythonhosted.org/packages/cb/83/540fd83238a18abe6c2d280fa8e489ac5fcefa1f370f0ca1acd16ae1b860/statsmodels-0.11.1-cp36-cp36m-manylinux1_x86_64.whl (8.7MB)
     |████████████████████████████████| 8.7MB 6.4MB/s eta 0:00:01     |███▋                            | 972kB 6.4MB/s eta 0:00:02
Requirement already satisfied: numpy>=1.14 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from statsmodels) (1.19.1)
Collecting patsy>=0.5 (from statsmodels)
  Downloading https://files.pythonhosted.org/packages/ea/0c/5f61f1a3d4385d6bf83b83ea495068857ff8dfb89e74824c6e9eb63286d8/patsy-0.5.1-py2.py3-none-any.whl (231kB)
     |████████████████████████████████| 235kB 30.3MB/s eta 0:00:01     |█████████████████               | 122kB 30.3MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from statsmodels) (1.5.2)
Requirement already satisfied: pandas>=0.21 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from statsmodels) (1.0.5)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from patsy>=0.5->statsmodels) (1.15.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.21->statsmodels) (2020.1)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.1 statsmodels-0.11.1
Note: you may need to restart the kernel to use updated packages.

In [15]:
import statsmodels.api as sm

In [18]:
x1=sm.add_constant(x)

In [22]:
logistic=sm.Logit(y,x1)

In [23]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

In [25]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Fri, 14 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        02:50:21   Log-Likelihood:                -642.18
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1928      1.645     -7.411      0.000     -15.417      -8.968
Age                   -0.0536      0.061     -0.874      0.382      -0.174       0.067
Experience             0.0638      0.061      1.046      0.295      -0.056       0.183
Income                 0.0546      0.003     20.831      0.000       0.049       0.060
Family                 0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                  0.1240      0.040      3.127      0.002       0.046       0.202
Education              1.7362      0.115     15.088      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.856      0.392      -0.001       0.002
Securities Account    -0.9368      0.286     -3.277      0.001      -1.497      -0.377
CD Account             3.8225      0.324     11.800      0.000       3.188       4.457
Online                -0.6752      0.157     -4.298      0.000      -0.983      -0.367
CreditCard            -1.1197      0.205     -5.462      0.000      -1.522      -0.718
======================================================================================
"""

Income,Family,Education,CD Account,Online,Creditcard are the significiant columns

Attrition dataset

In [26]:
df2=pd.read_csv('general_data.csv')

In [27]:
df2.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [42]:
df2.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          9
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [43]:
df2['NumCompaniesWorked'].fillna(df2['NumCompaniesWorked'].median(),inplace=True)
df2['TotalWorkingYears'].fillna(df2['TotalWorkingYears'].median(),inplace=True)

In [44]:
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder()

In [46]:
df2['Attrition']=lc.fit_transform(df2['Attrition'])
df2['BusinessTravel']=lc.fit_transform(df2['BusinessTravel'])
df2['Department']=lc.fit_transform(df2['Department'])
df2['EducationField']=lc.fit_transform(df2['EducationField'])
df2['Gender']=lc.fit_transform(df2['Gender'])
df2['JobRole']=lc.fit_transform(df2['JobRole'])
df2['MaritalStatus']=lc.fit_transform(df2['MaritalStatus'])
df2['Over18']=lc.fit_transform(df2['Over18'])

In [47]:
df2.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4

In [80]:
x=df2[['Age',  'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']]
y=df2['Attrition']

In [81]:
x2=sm.add_constant(x)

In [87]:
logistic_attrition=sm.Logit(y,x2)

In [90]:
result2=logistic_attrition.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.393012
         Iterations 7

LinAlgError: Singular matrix

In [89]:
result2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4410
Model:                          Logit   Df Residuals:                     4389
Method:                           MLE   Df Model:                           20
Date:                Fri, 14 Aug 2020   Pseudo R-squ.:                 -0.5693
Time:                        03:38:44   Log-Likelihood:                -3056.8
converged:                      False   LL-Null:                       -1947.9
Covariance Type:            nonrobust   LLR p-value:                     1.000
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Age                              0      0.005          0      1.000      -0.009       0.009
BusinessTravel                   0      0.046          0      1.000      -0.089       0.089
Department                       0      0.057          0      1.000      -0.112       0.112
DistanceFromHome                 0      0.004          0      1.000      -0.007       0.007
Education                        0      0.030          0      1.000      -0.058       0.058
EducationField                   0      0.023          0      1.000      -0.045       0.045
EmployeeCount                    0   4.02e+05          0      1.000   -7.88e+05    7.88e+05
EmployeeID                       0   2.37e-05          0      1.000   -4.64e-05    4.64e-05
Gender                           0      0.062          0      1.000      -0.121       0.121
JobLevel                         0      0.027          0      1.000      -0.054       0.054
JobRole                          0      0.012          0      1.000      -0.024       0.024
MaritalStatus                    0      0.042          0      1.000      -0.082       0.082
MonthlyIncome                    0   6.47e-07          0      1.000   -1.27e-06    1.27e-06
NumCompaniesWorked               0      0.013          0      1.000      -0.026       0.026
Over18                           0    1.7e+06          0      1.000   -3.33e+06    3.33e+06
PercentSalaryHike                0      0.008          0      1.000      -0.016       0.016
StandardHours                    0   5.03e+04          0      1.000   -9.85e+04    9.85e+04
StockOptionLevel                 0      0.036          0      1.000      -0.070       0.070
TotalWorkingYears                0      0.007          0      1.000      -0.013       0.013
TrainingTimesLastYear            0      0.024          0      1.000      -0.046       0.046
YearsAtCompany                   0      0.010          0      1.000      -0.019       0.019
YearsSinceLastPromotion          0      0.012          0      1.000      -0.024       0.024
YearsWithCurrManager             0      0.013          0      1.000      -0.026       0.026
===========================================================================================
"""